.gdbinit
v5.*/C-COMPILED/xtestc/
v5.*/t/*/*.c
v5.*/t/*/*.bin
v5.*/lib/*.c
v5.*/lib/*.bin
v5.*/t/tmp*
v5.*/t/*/*.subtest*
v5.*/lib/*.subtest*
v5.*/C-COMPILED/.db
v5.*/C-COMPILED/Op_write.tmp
v5.*/C-COMPILED/ccode*
v5.*/C-COMPILED/f.db
v5.*/C-COMPILED/a
v5.*/C-COMPILED/xx.bak
v5.14/t/Io_argv*
v5.14/t/echo*
v5.22/C-COMPILED/known_errors.*
v5.*/t/Op_write.tmp
